{
  "env": {
    "browser": false,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "esprima",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [

  ],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "double"
    ]
  }
}